doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/jquery.jqChart.css')
    link(rel='stylesheet', href='/stylesheets/jquery.jqRangeSlider.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery.min.js')
    script(src='/javascripts/jquery.jqChart.min.js')
    script(src='/javascripts/jquery.jqRangeSlider.min.js')
    script(src='/socket.io/socket.io.js');
  body
    block content